html 
    head 
        title pug file 
    body
        table(border="3px solid")
            tr 
                th name 
                th email 
                th course 
            tr 
                th #{name}
                th #{email}
                th #{course}
    body 
html 